{
    "semi": true,
    "useTabs": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "arrowParens": "avoid",
    "jsxBracketSameLine": true,
    "proseWrap": "always",
    "tabWidth": 4
}
